<!DOCTYPE HTML>
<html>
	<head>
		<title>Baraka Don 8</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="static/assets/css/main.css" />
		<noscript><link rel="stylesheet" href="static/assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">
		<!-- Wrapper -->
		<div id="wrapper">

			<!-- Header -->
			{% include 'header.html' %}

			<!-- Main -->
			<div id="main">
				<div class="inner">
					<header>
						<h1>
							'Baraka Don Optom Guruch' bilan <br>barakali va sifatli mahsulot sotib oling.<br>
							<a href="/">Baraka Don 8</a>
						</h1>
						<p>
							<b>8 - Do'konda</b> siz bir necha <b>qulayliklardan</b> foydalanishingiz mumkin:<br>
							- <b>Sifatli</b> mahsulot sotib olish;<br>
							- <b>Optom</b> narxlarda kelishilgan xolatda mahsulot sotib olish;<br>
							- Eshikdan eshikgacha <b>yetkatib berish</b> xizmati (kelishilga xolda)
						</p>
					</header>
					<section class="tiles">
						<article class="style1">
							<span class="image">
								<img src="static/images/lazer2.jpg" alt="" />
							</span>
							<a href="{{ url_for('order') }}">
								<h2>Lazer</h2>
								<div class="content">
									<p>Oshni dirkillatuvchi Lazer guruchi</p>
								</div>
							</a>
						</article>
						<article class="style2">
							<span class="image">
								<img src="static/images/alanga.jpg" alt="" />
							</span>
							<a href="{{ url_for('order') }}">
								<h2>Alanga</h2>
								<div class="content">
									<p>Oshga maza beruvchi Alanga guruchi</p>
								</div>
							</a>
						</article>
						<article class="style3">
							<span class="image">
								<img src="static/images/avangard.jpg" alt="" />
							</span>
							<a href="{{ url_for('order') }}">
								<h2>Avangard</h2>
								<div class="content">
									<p>Ro'zg'orbob Avangard guruchi</p>
								</div>
							</a>
						</article>
						<article class="style4">
							<span class="image">
								<img src="static/images/nukus.jpg" alt="" />
							</span>
							<a href="{{ url_for('order') }}">
								<h2>Nukus</h2>
								<div class="content">
									<p>Suyuq ovqatni shiralik qiluvchi Nukus guruchi</p>
								</div>
							</a>
						</article>
						<article class="style5">
							<span class="image">
								<img src="static/images/grechka.jpg" alt="" />
							</span>
							<a href="{{ url_for('order') }}">
								<h2>Grechka</h2>
								<div class="content">
									<p>Rossiya Grechkasi</p>
								</div>
							</a>
						</article>
						<article class="style6">
							<span class="image">
								<img src="static/images/garox.png" alt="" />
							</span>
							<a href="{{ url_for('order') }}">
								<h2>Garox</h2>
								<div class="content">
									<p>Rossiya garoxi</p>
								</div>
							</a>
						</article>
						<article class="style1">
							<span class="image">
								<img src="static/images/mosh.jpg" alt="" />
							</span>
							<a href="{{ url_for('order') }}">
								<h2>Mosh</h2>
								<div class="content">
									<p>Oqqo'rg'on moshi</p>
								</div>
							</a>
						</article>
						<article class="style2">
							<span class="image">
								<img src="static/images/noxat.jpg" alt="" />
							</span>
							<a href="{{ url_for('order') }}">
								<h2>Noxat</h2>
								<div class="content">
									<p>Noxat Gibrit</p>
								</div>
							</a>
						</article>
						<article class="style3">
							<span class="image">
								<img src="static/images/noxat.jpg" alt="" />
							</span>
							<a href="{{ url_for('order') }}">
								<h2>Noxat</h2>
								<div class="content">
									<p>Noxat Eron</p>
								</div>
							</a>
						</article>
					</section>
				</div>
			</div>

			<!-- Footer -->
			{% include 'footer.html' %}
		</div>

		<!-- Scripts -->
		<script src="static/assets/js/jquery.min.js"></script>
		<script src="static/assets/js/browser.min.js"></script>
		<script src="static/assets/js/breakpoints.min.js"></script>
		<script src="static/assets/js/util.js"></script>
		<script src="static/assets/js/main.js"></script>

	</body>
</html>